*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(155, 184, 155);
    display: flex;
    justify-content: center;
    align-items: center;
}

#panel{
    height: 80%;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

#ptop{
    width: 100%;
    height: 100px;
    background-color: rgb(72, 104, 72);
    display: flex;
    color:#fff;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30%;
}

.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}

.elem h2{
    font-weight: 500;
    font-size: 22px;
}

.box{
    color: rgb(18, 119, 57);
    font-size: 25px;
    font-weight: 600;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 10px;
    font-size: 22px;
}

#pbtm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* bubble come in next line */
    gap:7px;
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
}

.bubble{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(72, 104, 72);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
}

.bubble:hover{
    cursor: pointer;
    background-color: rgb(50, 75, 50);
}